#aboutbox {
    background-color: gray;
    width: 1000px;
    height: 500px;
    text-align: center;
    margin-right: 200px;
    margin-left: 250px;
    margin-top: 50px;
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    box-shadow: 0 0 1px 3px #000 inset;
    font-size: 20px;
}

.treb {
    font-family: 'Trebuchet MS', sans-serif;
}

