#box1 {
    background-color: darkslategray;
    width: 25%;
    height: 80px;
    margin-right: auto;
    margin-left: 550px;
    margin-top: 100px;
    border-radius: 35px;
    text-align: center;
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    box-shadow: 0 0 1px 3px #000 inset;
    font-size: 35px;
}

p {
    color: black;
}

.georgia {
    font-family: 'Courier New', monospace;
}


#box2 {
    background-color: darkslategray;
    width: 25%;
    height: 80px;
    margin-right: auto;
    margin-left: 550px;
    margin-top: 300px;
    border-radius: 35px;
    text-align: center;
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    box-shadow: 0 0 1px 3px #000 inset;
    font-size: 35px;
